* {
    margin:0;
    padding:0;
}
header, footer {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    background-color: #edc9af;
    text-align: center;
}
#header-img {
    max-width:25%;
}
header h1 {
    font-family: 'Star Wars', sans-serif;
    padding-top: 10px;
}
nav li {
    display: inline;
    padding: 0px 7px;
}
nav a {
    text-decoration: none;
    color: orangered;
}
main {
    padding: 20px;
}
main h2{
    padding:10px 0px;
}
article {
    padding: 10px 0px;
    margin: 5px 0px;
    border: 3px solid;
    border-radius: 17px;
}
article img {
    max-width: 75%;
}
article h4{
    padding: 10px;
    text-decoration: underline;
}
article h3{
    display: inline;
    padding:10px;
}
article p{
    padding:10px;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
.text {
    float: left;
    width: 70%;
}
.images {
    float: left;
    width: 30%;
}
.notice {
    text-align: center;
    color:red;
    padding:30px;
    font-size: 50px;
}
#order-form {
    border-style: ridge ridge none ridge;
    border-radius: 15px;
    border-width: 3px;
    border-color: #f1a321;
    text-align: center;
    font-size: 17px;
}